.fuid-login {
    width: 500px;
    top: 50%;
    left: 40%;
    position: relative;
}

.fuid-input {
    line-height: 2.4;
}

.fuid-input-addon {
    background-color: #ffffff;
    border-radius: 0.1rem;
}

.fuid-form-title {
    color: #9c9c9c;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.fuid-icon {
    fill: #19b491;
}

.fuid-btn {
    width: 100%;
    line-height: 2.4;
    background-color: #19b491;
    color: white;
}