<form class="fuid-login" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
    <div class="form-group row">
        <h4 class="fuid-form-title">LOG IN</h4>
    </div>
    <div class="form-group row">
        <div class="input-group">
            <div class="input-group-addon fuid-input fuid-input-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="fuid-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
            </div>
            <input type="text" class="form-control fuid-input" id="fuid-email" placeholder="example@mail.com" name="username" [(ngModel)]="model.username" #username="ngModel" required >
        </div>
    </div>
    <div class="form-group row">
    </div>
    <div class="form-group row">
        <div class="input-group">
            <div class="input-group-addon fuid-input fuid-input-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="fuid-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
            </div>
            <input type="password" class="form-control fuid-input" id="fuid-login" placeholder="..." name="password" [(ngModel)]="model.password" #password="ngModel" required>
        </div>
    </div>
    <div class="form-group row">
            <button type="submit" class="btn fuid-btn">{{ 'LOGIN.SIGN_IN' | translate }}</button>
    </div>
</form>